@use '../../styles/colors'; 
@use '../../styles/mixins'; 


.skill {
  width: 100%;
  padding: 10px 20px 15px 20px;
}

.title {
  @include mixins.displayFlex();
  width: 100%;
  
  .logo_icon {
    width: 26px;
    height: 26px;
  }

  span {
    font-size: 1em;
    color: colors.$secondary-text;
    margin-left: 8px;
  }

  .percentage_number {
    margin-left: auto;
  }
}

.bar {
  height: 8px;
  border-radius: 8px;
  width: 100%;
  margin-top: 5px;
  background-color: colors.$empty-bar;
  position: relative;

  .percentage {
    position: absolute;
    top: 0;
    left: 0;
    background-color: colors.$filled-bar;
    border-radius: 8px;
    height: 8px;
  }
}