@use '../../styles/' as *;

.skill {
  width: 100%;
  padding: 10px 20px 15px 20px;
}

.title {
  @include mixins-display-flex();
  width: 100%;
  
  .logoIcon {
    width: 26px;
    height: 26px;
  }

  span {
    font-size: 1em;
    color: $colors-secondary-text;
    margin-left: 8px;
  }

  .percentageNumber {
    margin-left: auto;
  }
}

.bar {
  height: 8px;
  border-radius: 8px;
  width: 100%;
  margin-top: 5px;
  background-color: $colors-empty-bar;
  position: relative;

  .percentage {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $colors-filled-bar;
    border-radius: 8px;
    height: 8px;
  }
}