@use '../../styles/' as *;

$chevron-image: '../../assets/images/chevron-forward.svg';

.projectsSection {
  @include mixins-section-style();
}

.tabs {
  @include mixins-display-flex();
  gap: 15px;
  color: $colors-primary-text;

  span {
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $colors-primary-text-hover;
    }

    &.active {
      color: $colors-primary-text-hover;
      border-color: $colors-primary-text-hover;
    }
  }
}

.projectsSection[data-theme="light"] {
  .tabs {
    color: $colors-primary-text-light;
  
    span {
      &:hover {
        color: $colors-primary-text-hover-light;
      }
  
      &.active {
        color: $colors-primary-text-hover-light;
        border-color: $colors-primary-text-hover-light;
      }
    }
  }
}

/* --------------------- Main Projects --------------------- */

.bannersContainer {
  position: relative;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  padding: 0 30px;
  overflow: hidden;

  @include medias-media("desktop") {
    width: 750px;
    height: 210px;
  }

  @include medias-media("tablet") {
    width: 80%;
    height: 400px;
  }

  @include medias-media("phone") {
    width: 100%;
    padding: 0;
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 15px;
  @include mixins-display-flex(center, flex-start);
  gap: 15px;
  padding: 15px;
  height: 100%;
  width: 800px;
  opacity: 0;
  transition: .3s ease-out;
  pointer-events: none;

  @include medias-media("desktop") {
    width: 700px;
  }

  @include medias-media("tablet") {
    flex-direction: column;
    width: 100%;
    left: 0;
  }

  &:first-child {
    opacity: 1;
    pointer-events: all;
  }
}

.photoBox {
  @include mixins-display-flex();
  height: 100%;
  border-radius: 10px;
  max-width: 350px;
  overflow: hidden;

  @include medias-media("desktop") {
    max-width: 260px;
  }

  @include medias-media("tablet") {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  @include medias-media("phone") {
    max-width: 140px;
    height: 100px;
  }

  .photo {
    height: 100%;
  }
}

.info {
  position: relative;
  height: 100%;
  width: 420px;
  display: flex;
  flex-direction: column;

  @include medias-media("tablet") {
    width: 100%;
  }

  .title {
    color: $colors-primary-text;
    font-size: 1.5em;

    @include medias-media("desktop") {
      font-size: 1.2em;
    }

    @include medias-media("tablet") {
      text-align: center;
    }

    @include medias-media("phone") {
      font-size: 1em;
    }
  }

  .description {
    color: $colors-secondary-text;
    font-size: 1em;
    flex-grow: 1;

    @include medias-media("desktop") {
      font-size: .875em;
    }

    @include medias-media("phone") {
      font-size: .75em;
    }
  }
}

.linksBox {
  @include mixins-display-flex(space-between);
  width: 100%;

  > a {
    font-size: 1.2em;
    text-decoration: none;
    color: $colors-primary-text;
    border-bottom: 1px solid transparent;
    transition: .3s;

    &:hover {
      border-color: $colors-primary-text;
    }

    @include medias-media("desktop") {
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 1px;
    }

    @include medias-media("tablet") {
      bottom: -20px;
    }
  }
}

.chevronBox {
  position: absolute;
  background-color: $colors-dark-transparent-bg;
  padding: 14px 4px;
  z-index: 100;
  cursor: pointer;
  transition: .3s;
  border-radius: 4px;
  top: 100px;

  @include medias-media("desktop") {
    top: 70px;
  }


  &:hover {
    background-color: $colors-dark-transparent-bg-hover;
  }

  &.forward {
    right: 0px;
    padding-right: 2px;

    
    @include medias-media("tablet") {
      right: 5px;
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 2px
    }
  }

  &.backward {
    left: 0px;
    padding-left: 2px;

    @include medias-media("tablet") {
      left: 5px;
      padding-top: 10px;
      padding-right: 2px;
      padding-bottom: 10px;
      padding-left: 0px
    }

    div {
      rotate: -180deg;
    }
  }

  div {
    width: 20px;
    height: 20px;
    background-image: url($chevron-image);
    background-repeat: no-repeat;
    background-position: center;
    @include mixins-white-filter();
  }
}

.carousel {
  @include mixins-display-flex();
  gap: 5px;

  div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $colors-light-tranparent-bg;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: $colors-light-tranparent-bg-hover;
    }

    &.focus {
      background-color: $colors-light-tranparent-bg-hover;
    }
  }
}

.mainProjects[data-theme="light"] {
  .info {
    .title {
      color: $colors-primary-text-light;
    }

    .description {
      color: $colors-secondary-text-light;
    }
  }

  .linksBox {
    > a {
      color: $colors-primary-text-light;
  
      &:hover {
        border-color: $colors-primary-text-light;
      }
    }
  }

  .chevronBox {
    background-color: $colors-dark-transparent-bg-light;

    &:hover {
      background-color: $colors-dark-transparent-bg-hover-light;
    }
  
    div {
      filter: none;
    }
  }
}

/* --------------------- Latest Projects --------------------- */
.latestProjects {
  padding-top: 30px;
}

.latestProjectList {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
  justify-content: center;

  @include medias-media("tablet") {
    grid-template-columns: 280px;
    grid-template-rows: repeat(4, 100px);
  }

  @include medias-media("phone") {
    grid-template-columns: 170px;
    grid-template-rows: repeat(4, 70px);
  }

  .item {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    @include mixins-display-flex(center, flex-start);
    padding-left: 40px;
    flex-direction: column;
    border: solid 1px $colors-secondary-text;
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include medias-media("phone") {
      align-items: center;
      padding: 0px;
    }

    .link {
      color: #58a6ff;
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: #58a6ff;
      }
    }
  }
}

.languageBox {
  @include mixins-display-flex(center, flex-end);
  gap: 3px;
  margin-top: 14px;

  img {
    width: 20px;
    height: 20px;
  }

  .languageName {
    color: $colors-secondary-text;
    font-size: .875em;
  }
}

.latestProjects[data-theme="light"] {
  .latestProjectList {
    .item {
      border-color: $colors-secondary-text-light;
    }
  }

  .languageBox {
    .languageName {
      color: $colors-secondary-text-light;
    }
  }
}