@use '../../styles/' as *; 

.skillsSection {
  @include mixins-section-style();
}

.content {
  width: 100%;
  @include mixins-display-flex();
  flex-direction: column;
  gap: 20px;
}

.categoryContainer {
  width: 100%;
  max-width: 1000px;
  user-select: none;

  &:has(> .list.active) .box .chevron_icon {
    rotate: (-180deg);
  }
}

.box {
  @include mixins-display-flex(flex-start);
  gap: 15px;
  cursor: pointer;
  box-shadow: 0 15px 30px $colors-light-shadow;
  z-index: 10;
  position: relative;
  padding: 5px 20px;
  height: 60px;

  .title {
    font-size: 1.5em;
    color: $colors-primary-text;
    font-weight: 500;

    @include medias-media("tablet") {
      font-size: 1.2em;
    }
  }

  img {
    width: 40px;
    height: 40px;
    @include mixins-white-filter();

    @include medias-media("tablet") {
      width: 30px;
      height: 30px;
    }
  }

  .chevron_icon {
    margin-left: auto;
    width: 30px;
    height: 30px;
    transition: .3s;

    @include medias-media("tablet") {
      width: 20px;
      height: 20px;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: $colors-primary-btn-bg; 
  max-height: 0;
  transition: max-height .35s ease-out;
  overflow: hidden;

  &.active {
    max-height: 1000px;
    transition: max-height .35s ease-in;
  }

  @include medias-media("tablet") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include medias-media("phone") {
    grid-template-columns: repeat(2, 1fr);
  }
}