@use '../../styles/' as *;

.languageDropdown {
    position: relative;
}

.title {
    padding: 8px 16px;
    line-height: 14px;
    font-size: 14px;
    text-wrap: nowrap;
    cursor: pointer;

    &:hover {
        background-color: $colors-primary-btn-bg;

        &::after {
            border-left: 0.3em solid $colors-primary-btn-bg;
            border-right: 0.3em solid $colors-primary-btn-bg;
        }
    }

    &::after {
        border-bottom: 0;
        border-left: 0.3em solid $colors-primary-bg;
        border-right: 0.3em solid $colors-primary-bg;
        border-top: 0.3em solid;
        content: "";
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        transition: 150ms border-color ease-in-out; 
    }
}

.list {
    position: absolute;
    top: 30px;
    right: 0px;
    box-shadow: 0 0 12px #000000;
    list-style: none;
    background-color: $colors-primary-bg;
    min-width: 100%;
}

.item {
    padding: 8px 18px;
    font-size: 13px;
    text-wrap: nowrap;
    cursor: pointer;

    &:hover {
        background-color: $colors-primary-btn-bg;
    }
}

.languageSelector[data-theme="light"] {
    .title {    
        &:hover {
            background-color: $colors-primary-btn-bg-light;

            &::after {
                border-left: 0.3em solid $colors-primary-btn-bg-light;
                border-right: 0.3em solid $colors-primary-btn-bg-light; 
            }
        }
    
        &::after {
            border-left: 0.3em solid $colors-primary-bg-light;
            border-right: 0.3em solid $colors-primary-bg-light;        
        }
    }

    .list {
        box-shadow: 0 0 12px #000000;
        background-color: $colors-primary-bg-light;
    }

    .item {
        &:hover {
            background-color: $colors-primary-btn-bg-light;
        }
    }
    
}