$main-background: #242424;
$shadow: rgb(0 0 0 / 20%);
$primary-text: #ffffffde;
$secondary-text: #aaaaaade;
$primary-button-background: #1a1a1a;
$primary-button-background-hover: #141414;
$secondary-button-background: #2b35ff;
$secondary-button-background-hover: #1b24cf;
$field-background: #f3f3f3;
$field-text: #333333;
$empty-bar: #8d91e081;
$filled-bar: #646cff;
$dark-transparent-background: #1a1a1a6c;
$dark-transparent-background-hover: #1a1a1a;
$light-tranparent-background: rgba(255 255 255 / 20%);
$light-tranparent-background-hover: rgba(255 255 255 / 70%);