// Light Theme
$primary-bg-light: #ffffff;
$light-shadow-light: rgb(0 0 0 / 10%);
$primary-text-light: #333333;
$primary-text-hover-light: #000000;
$secondary-text-light: #666666;
$primary-btn-bg-light: #d3d3d3;
$primary-btn-bg-hover-light: #b2b2b2;
$secondary-btn-bg-light: #2b35ff;
$secondary-btn-bg-hover-light: #1b24cf;
$field-bg-light: #ebebeb;
$field-text-light: #333333;
$empty-bar-light: #8d91e081;
$filled-bar-light: #646cff;
$dark-transparent-bg-light: rgba(0 0 0 / 10%);
$dark-transparent-bg-hover-light: rgba(0 0 0 / 20%);
$light-tranparent-bg-light: rgba(255 255 255 / 70%);
$light-tranparent-bg-hover-light: rgba(255 255 255 / 90%);

// Dark Theme
$primary-bg: #242424;
$light-shadow: rgb(0 0 0 / 20%);
$primary-text: #ffffffde;
$primary-text-hover: #fff;
$secondary-text: #aaaaaade;
$primary-btn-bg: #1a1a1a;
$primary-btn-bg-hover: #141414;
$secondary-btn-bg: #2b35ff;
$secondary-btn-bg-hover: #1b24cf;
$field-bg: #f3f3f3;
$field-text: #333333;
$empty-bar: #8d91e081;
$filled-bar: #646cff;
$dark-transparent-bg: #1a1a1a6c;
$dark-transparent-bg-hover: #1a1a1a;
$light-tranparent-bg: rgba(255 255 255 / 20%);
$light-tranparent-bg-hover: rgba(255 255 255 / 70%);

$toast-text: #fff;
$toast-error: rgb(255, 37, 37);
$toast-success: rgb(73, 255, 37);
$toast-warning: rgb(255,204,0);