$primary-bg: #242424;
$light-shadow: rgb(0 0 0 / 20%);
$primary-text: #ffffffde;
$secondary-text: #aaaaaade;
$primary-btn-bg: #1a1a1a;
$primary-btn-bg-hover: #141414;
$secondary-btn-bg: #2b35ff;
$secondary-btn-bg-hover: #1b24cf;
$field-bg: #f3f3f3;
$field-text: #333333;
$empty-bar: #8d91e081;
$filled-bar: #646cff;
$dark-transparent-bg: #1a1a1a6c;
$dark-transparent-bg-hover: #1a1a1a;
$light-tranparent-bg: rgba(255 255 255 / 20%);
$light-tranparent-bg-hover: rgba(255 255 255 / 70%);
$success-color: rgb(39, 255, 39);
$error-color: rgb(255, 39, 39);;