@use './' as *;

.app {
  padding: 20px;
  width: 100%;
  position: relative;
  @include mixins-display-flex();
  flex-direction: column;

  @include medias-media("desktop") {
    gap: 100px;
  }

  @include medias-media("tablet") {
    padding: 10px;
  }
}