@use '../../styles/' as *;

$menu-icon: '../../assets/images/menu.svg';
$close-icon: '../../assets/images/close.svg';

.header {
  width: 100%;
  @include mixins-display-flex(flex-start);
  background-color: $colors-primary-bg;
  padding: 10px 30px 5px 30px;
  color: $colors-primary-text;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  @include medias-media("desktop") {
    padding: 10px 10px 5px 10px;
  }
}

.title {
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

.toggleMenu {
  position: fixed;
  right: 14px;
  top: 7px;
  width: 35px;
  height: 35px;
  border: none;
  background: url($menu-icon);
  background-repeat: no-repeat;
  background-position: center; 
  @include mixins-white-filter();
  z-index: 1000;
  display: none;

  &.active {
    background: url($close-icon)
  }

  &.active ~ .navList {
    display: flex;
  }

  @include medias-media("tablet") {
    display: block;
  }
}

.navList {
  @include mixins-display-flex();
  gap: 15px;
  list-style: none;
  font-weight: 500;
  background-color: $colors-primary-bg;
  
  @include medias-media("tablet") {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-size: 1.5em;
  }

  .navItem {
    white-space: nowrap;

    .link {
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: .3s;
      text-decoration: none;
      color: $colors-primary-text;

      &:hover {
        color: $colors-primary-text-hover;
      }

      &.active {
        color: $colors-primary-text-hover;
        border-color:$colors-primary-text-hover;
      }
    }
  }
}

.header[data-theme="light"] {
  background-color: $colors-primary-bg-light;
  color: $colors-primary-text-light;

  .navList {
    background-color: $colors-primary-bg-light;

    .navItem {
      .link {
        color: $colors-primary-text-light;

        &:hover {
          color: $colors-primary-text-hover-light;
        }
  
        &.active {
          color: $colors-primary-text-hover-light;
          border-color: $colors-primary-text-hover-light;
        }
      }
    }
  }
}